.source.jsx {
  .meta.group.braces.curly {
    .support.type.object.console.js {
      color: #b11e5b;
    }
    .support.function.console.js {
      color: #a389eb;
    }
    .variable.language.this.js {
      color: #ee3486;
    }
    .meta.property.object.js {
      .variable.other.property.js {
        color: #6ef7f0;
      }
    }
    .variable.other.object.js {
      color: #8e70e4;
    }
    .variable.other.readwrite.js {
      color: #83ff6c;
    }
  }
  .entity.name.tag{
    color: @hue-3;
  }
  .constant.other.object.key.js {
    .string.unquoted.js {
      color: #ff7569;
    }
  }
  .meta.function-call.static.with-arguments.js {
    .variable.other.class.js {
      color: #8e70e4;
    }
  }
  .meta.function-call.with-arguments.js{
    .meta.tag.jsx {
      .entity.other.attribute-name.jsx {
        color: #5db9e4;
      }
    }
  }
  .meta.class.body.js {
    .meta.group.braces.curly {
      .support.type.object.console.js {
        color: #b11e5b;
      }
      .support.function.console.js {
        color: #a389eb;
      }
      .variable.language.this.js {
        color: #ee3486;
      }
      .meta.property.class.js {
        .variable.other.class.js {
          color: #cdd7f0;
        }
        .variable.other.property.static.js {
          color: #bdc0f9;
        }
      }
      .meta.property.object.js {
        .variable.other.property.js {
          color: #6ef7f0;
        }
      }
      .variable.other.object.js {
        color: #8e70e4;
      }
      .variable.other.readwrite.js {
        color: #83ff6c;
      }
      .meta.tag.jsx {
        .entity.other.attribute-name.jsx {
          color: #167ed4;
        }
      }
    }
    .meta.function.arrow.js {
      .variable.other.readwrite.js {
        color: #f5b544;
      }
    }
    .meta.group.braces.round {
      .meta.tag.jsx {
        .entity.other.attribute-name.jsx {
          color: #5db9e4;
        }
      }
    }
  }
}
